{% extends "base.html.twig" %}

{% block title %}Chat-vr{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/index_style.css"/>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Escriba su consulta..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a Fisik@57!</h1>
        <p class="lead">Fisi@57 es un proyecto donde podrás encontrar información relacionada con: servidores, configuración de redes, IoT y machine learning.</p>
        <hr class="my-4">
        <p><em>"Cuanto más hacemos, más podemos hacer".(William Hazlitt)</p></em>
        <p><em>"Aprende haciendo y aprende aprendiendo".(2k3)</p></em>
        <p><em>"La estadística es una ciencia que demuestra que, si mi vecino tiene dos coches y yo ninguno, los dos tenenmos uno".(George Bernard Shaw)</p></em>
        <p><em>"All models are wrong, but some are useful".(George E. P. Box)</p></em>
        <p><em>"Prediction is very dificult, especilly if it´s about the FUTURE".(Niels Bohr)</p></em>
        <p><em>"Los hackers somos como superhéroes, nuestro más grande poder es el conocimiento, y debes saber qué: Un gran poder conlleva una gran responsabilidad (Tío Ben)... da es broma :)}"(Stan Lee)</p></em>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sobre nosotros</a>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="jumbocol col-md-4">
                <a class="btn btn-primary" href="" role="button"><h2>Servidores</h2></a>
                <img src="images/servidores.jpg" width="250" height="200" class="d-inline-block align-top" alt="servidores">
            </div>
            <div class="jumbocol col-md-4">
                <a class="btn btn-secondary" href="" role="button"><h2>Redes</h2></a>
                <img src="images/redes.jpg"  width="250" height="200" class="d-inline-block align-top" alt="redes">
            </div>
            <div class="jumbocol col-md-4">
                <a class="btn btn-primary" href="" role="button"><h2>IoT</h2></a>
                <img src="images/iot.png"  width="250" height="200" class="d-inline-block align-top" alt="iot">
            </div>
        </div>
        <div class="row">
            <div class="jumbocol col-md-4">
                <a class="btn btn-danger" href="" role="button"><h2>Machine Learning</h2></a>
                <img src="images/iot.png"  width="250" height="200" class="d-inline-block align-top" alt="iot">
            </div>
            <div class="jumbocol col-md-4">
                <a class="btn btn-warning" href="" role="button"> <h2>Programación</h2></a>
                <img src="images/programacion.jpg"  width="250" height="200" class="d-inline-block align-top" alt="iot">
            </div>
            <div class="jumbocol col-md-4">
                <a class="btn btn-info" href="" role="button"><h2>Sistemas embebidos</h2></a>
                <img src="images/sistemase.jpg"  width="250" height="200" class="d-inline-block align-top" alt="iot">
            </div>
        </div>
        <div class="row">
            <div class="jumbocol col-md-4">
                <a class="btn btn-dark" href="" role="button"><h2>Ethical hacking</h2></a>
                <img src="images/ethicalh.jpg"  width="250" height="200" class="d-inline-block align-top" alt="iot">

            </div>
            <div class="jumbocol col-md-4">
                <a class="btn btn-primary" href="{{ path('indexvr') }}" role="button"><h3>Index vr</h3></a>
                <a class="btn btn-primary" href="{{ path('virtual_reality') }}" role="button"><h3>Index normal</h3></a>
                <img src="images/vr.jpeg"  width="250" height="200" class="d-inline-block align-top" alt="iot">
            </div>
        </div>
    </div>
{% endblock %}